/* Create a highlight keyframe */
@keyframes feedback-highlight {
  0% {
    background: #9b1228;
  }
  100% {
    background: #cc324b;
  }
}

#feedback {
  margin: 0 auto;
  margin-top: 1em;
  background: #cc324b;
  padding: 0.4em 0.4em;
  font-size: 1.2em;
  font-weight: 400;
  display: block;
  line-height: 1em;
  color: #fff;
  border-radius: 15px 15px 0 0;
}

#feedback:target {
  animation: feedback-highlight 3s;
}
